.homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.homePage h1{
    margin: 0;
    padding: 0;
    font-size: 36px;
    color: #333;
}
.homePageButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homePageButtons button{
    margin: 10px;
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.homePageButtons button:hover{
    background-color: #45a049;
}